absl-py
astor
certifi
chardet
click
cycler
decorator
# dlib==19.19.0
easydict
gast
google-pasta
graphviz
grpcio
gunicorn
h5py
idna
imageio
imutils
itsdangerous
Jinja2
Keras
Keras-Applications
Keras-Preprocessing
kiwisolver
Markdown
MarkupSafe
matplotlib
mock
mtcnn
mxnet
networkx
numpy
opencv-python
opt-einsum
pandas
Pillow
protobuf
pyparsing
python-dateutil
pytz
PyWavelets
PyYAML
requests
scikit-image
scikit-learn
scipy
six
tensorboard
tensorflow
tensorflow-estimator
termcolor
urllib3
Werkzeug
wrapt
